div.panel {
    float:left;
    background-color: #dddddd;
    border-radius: 1em;
    padding: 0.5em;
    
}
div.content {
    overflow:hidden;
    clear: both;
    height:100%;
}
div.upload {
    border-radius: 1em;
    background-color:#ffffff;
    border: 0.2em dashed #0087f6;
    padding: 0.5em;
}
div.treeview {
    border-radius: 1em;
    background-color:#ffffff;
    padding: 0.5em;
}
div.intro {
    margin-bottom: 50px;
}
input[type="text"]:disabled {
    background: #dddddd;
}
.invalid_node { color:red !important; }

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #fff;
    border-width: 5px 5px 0;
}
.tooltip-inner {
    color: #000;
    background: #fff;
    border: solid 1px #fff;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #fff;
    border-width: 5px 5px 0;
}
.tooltip-inner {
    color: #000;
    background: #fff;
    border: solid 1px #fff;
}

.move_cell_icon {
    width: 30px;
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    /*width: 300px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;*/
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 400px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}