
#login{
    text-align: center;
    display: block;
}

#login_form{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#invalid_creds{
	align:center;
	margin:0px;
	margin-bottom:5px;
	width:230px;
	font-size:90%;
}

#connect_error{
	align:center;
	margin:0px;
	margin-bottom:5px;
	width:230px;
	font-size:90%;
}

#section_title{
	 width: auto; 
	 font-size: 22px; 
	 font-weight: bold; 
	 margin-top: 24px; 
	 text-align: center;
}