#condition_tbl{
  border-spacing:2px;
  font-family: Arial,Sans-Serif,sans-serif;
}

.header{

}

.value{

}

#workflow_cond_config_tbl{
  border-spacing:2px;
  font-family: Arial,Sans-Serif,sans-serif;
}

#cond_config{
	
}
