/* 
 * Copyright 2008 California Institute of Technology. ALL RIGHTS
 * RESERVED. U.S. Government Sponsorship acknowledged.
 *   
 * $Id$
 */

#nasaBanner td {
	text-align:	left;
	vertical-align: middle;
}

#jplSearch td {
	text-align:	center;
}

.nasaBannerLinks {
	font-size:	8pt;
	color: #000;
}

#footer td {
	font-size: x-small;
}

.light {
	font-size: 	8pt;
	color:		#333;
}
