  <div class="row col-md-6 col-md-offset-3">
<h1>Community</h1>
Apache OODT has a dedicated community based globally. To keep in contact they make use of a variety of tools.

<h2>Mailing Lists</h2>
<p>Apache OODT runs a mailing list for general communication and development chat. To ask questions about Apache OODT join the dev@oodt.apache.org mailing list and say hello!</p>

<h2>IRC</h2>
<p>We also have an OODT IRC channel for real time OODT discussion, you can find this on Freenode at #oodt.</p>

<p>If you don't haven an IRC client installed, you can still join the channel using the <a target="_blank" href="http://webchat.freenode.net/?channels=oodt">webchat</a> to stop by and introduce yourself!</p>

<h2>Blog</h2>
<p>Keep up to date with News, Events and Tips and Tricks with our <a href="{{ site.url }}{{ site.baseurl }}/blog"> new blog</a>.</p>
<p>Similarly, if you have any OODT releated news, or interesting blog content, pop by our mailing list and tell us, we're always looking for interesting articles!</p>

<h2>Social Media</h2>

<h4>Follow our twitter account!</h4>
<a href="https://twitter.com/apache_oodt" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @apache_oodt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></a><br/>
<h4>Join our facebook group!</h4>
<img src="" alt="facebook logo" />
<br/>
<h4>If you use Google Plus you can find our community here!</h4>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<g:community width="300" layout="landscape" href="https://plus.google.com/communities/109940995190375177195"></g:community>
  </div>
