<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Us!</h4>
            </div>
            <form action="https://getsimpleform.com/messages?form_api_token=bcf720cd427d9ba6ffc231ee06d82804"
                  method="post">
            <div class="modal-body">


                    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                    <input type='hidden' name='redirect_to' value='http://www.spicule.co.uk/thanks.html' />

                    <!-- all your input fields here.... -->
                    <div class="form-group">
                        <label for="nameentry">Name:</label>
                        <input type='text' id="nameentry" class="form-control" name='name'/>
                    </div>
                    <div class="form-group">
                        <label for="companyentry">Company:</label>
                        <input type='text' id="companyentry" class="form-control" name='company'/>
                    </div>
                    <div class="form-group">
                        <label for="phoneentry">Phone:</label>
                        <input type='tel' id="phoneentry" class="form-control" name='phone'/>
                    </div>
                    <div class="form-group">
                        <label for="emailentry">Email:</label>
                        <input type='email' id="emailentry" class="form-control" name='email'/>
                    </div>
                    <div class="form-group">
                        <label for="messageentry">Message:</label>
                        <textarea id="messageentry" class="form-control" name='message'></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary">Send message</button>

            </div>
            </form>

        </div>
    </div>
</div>