<div class="row col-md-6 col-md-offset-2">

<h2>Getting started</h2>

<p>To get started with OODT development you will need JDK7+, an IDE(of course we recommend Netbeans as soon as it arrvies in the Apache Incubator, but Intellij and Eclipse are perfectly acceptable! ;) ) and Maven 3 or later is also needed to compile the source code.</p>

<p>The easiest place to checkout the code is from Github: <a href="https://github.com/apache/oodt">https://github.com/apache/oodt</a></p>

<p>To compile the code from source simply run `mvn clean install` on the command line from within the checkout directory and the OODT code will start to compile.</p>

<p>To file bugs or find new tasks to work on you can find the OODT issue track on the ASF Jira: <a href="http://issues.apache.org">http://issues.apache.org</a></p>
</div>
