<div class="container" >
<div class="row" >

  <div class="col-md-6" >
    <h1>Disciplined Data Management</h1>
    <p>Apache Object Oriented Data Technology (OODT) is the smart way to integrate and archive your processes, your data, and its metadata.
      OODT allows you to:
      <ul>
	<li>Generate Data</li>
	<li>Process Data</li>
	<li>Manage Your Data</li>
	<li>Distribute Your Data</li>
	<li>Analyze Your Data</li>
      </ul>
     Allowing for the integration of data, computation, visualization and other components.</p>
  </div>
  <div class="col-md-6">
  <h1>Solidify Your Data Processing</h1>
  <p>Traditional processing pipelines are commonly made up of custom UNIX shell scripts and fragile custom written glue code. Apache OODT uses structured XML-based capturing of the processing pipeline that can be understood and modified by non-programmers to create, edit, manage and provision workflow and task execution.</p>
  <p>OODT also allows for remote execution of jobs on scalable computational infrastructures so that computational and data-intensive processing can be integrated into OODT’s data processing pipelines using cloud computing and high-performance computing environments.</p>
  </div>

</div>
<div class="row" >
  <div class="col-md-8 col-md-offset-2">
    <img class="img-responsive" src="img/oodt-diag.png"/>
  </div>
</div>
<div class="row" >

  <div class="col-md-6" >
    <h1>Use Cases</h1>
    <ul class="list-group">
      <li class="list-group-item"><a href="/staging-usecase.html">Staging Area Storage Indexing</a></li>
      <li class="list-group-item"><a href="/medical-usecase.html">Medical Record Indexing</a></li>
      <li class="list-group-item"><a href="/streaming-usecase.html">Streaming data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Distributed Data Environments</h1>
    <p>
      Apache OODT facilitates the integration of highly distributed and heterogeneous data intensive systems enabling the integration of different, distributed software systems, metadata and data. OODT spans disciplines and enables interoperability among data agnostic systems in any field.
    </p>
    <p>
      In a world of cloud computing Apache OODT can make the most of it. With support for:
      <ul>
	<li>Grid Computing</li>
	<li>Apache Mesos</li>
      </ul>
      Developers can build highly distributed, scalable, data platforms that can process even the largest amounts of data, without breaking a sweat.
    </p>
  </div>

</div>
<div class="row col-md-12">
  <h1>Some of our users <small>Award-winning software birthed at NASA's Jet Propulsion Laboratory</small></h1>
  <div class="text-center" ><img src="img/nasa_logo.png"/>
  <img src="img/darpa_logo.png"/>
  <img src="img/nci_logo.png"/></div>
</div>
</div>
