<div class="row col-md-6 col-md-offset-3">

    <h1>
        OODT and Medical Research
    </h1>
    <p>
        Not only is Apache OODT put to good use in the Space and Aeronautical sectors, OODT already has a number of excellent use cases for the medical research field.
        Used for Cancer Biomarker research in a number of hospitals in North America and underpinning Genomics research, OODT has excellent pedegree to help enhance the next
        medical research project.
    </p>
    <h2>Distributed Data</h2>
    <p>
        Data can be located anywhere and processing it can be hard because data analysts need to get their hands on it. Using the OODT file manager, data scientists can get
        instant access to their data regardless of location. With commit hooks and post processing, data pumped into OODT can be enhanced, merged and reindexed to ensure
        that the scientists who need the data get the best that is available to them.
    </p>
    <h2>Enriching The Data</h2>
    <p>
        Ingesting a lot of medical data is one thing, enhancing and enriching it is quite another. By pairing up OODT and Apache CTakes, researchers and scientists can embrace open source
        technologies and allow them to gain extra insight into the data, not only with the metadata stored within the file, but with the wealth of information available from the electronical
        medical record free text.
    </p>

</div>