<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ site.url }}{{ site.baseurl }}/img/oodt_asf_logo_sm.png"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
    <!--<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>-->

    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/blog">News</a>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/site_docs/oodt/index.html">Components</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/documentation.html">Documentation</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/community.html" >Community</a>
    </li>
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/download.html" >Download</a>
      </li>

  </ul>
  </div>
</div>
</nav>
