<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/portfolio/nasa/apache%20software%20foundation/big%20data/data%20management/2016/01/01/nasa-portfolio.html">
                <img class="img-portfolio img-responsive" src="img/nasa.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/portfolio/juju/canonical/2016/01/01/juju-portfolio.html">
                <img class="img-portfolio img-responsive" src="img/picto-juju.jpg">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/portfolio/williams%20lea/etl/data/2016/01/01/williamslea-portfolio.html">
                <img class="img-portfolio img-responsive" src="img/williamslea.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/portfolio/badoo/etl/data/2016/01/01/badoo-portfolio.html">
                <img class="img-portfolio img-responsive" src="img/badoo.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
       <!-- <a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
