<div class="row col-md-6 col-md-offset-3">

    <h1>
       Streaming Data With Apache OODT
    </h1>
    <p>
        As more realtime and near realtime data workloads are being managed, the data processing paradigm has shifted. No longer is it batch processed, bulk ingested data loads,
        its streaming input and window querying of data to find out what's going on here and now and allowing businesses to be able to react to it.
    </p>
    <p>
        OODT allows you to leverage the streaming capabilities of
        <ul>
            <li>Apache Spark</li>
            <li>Apache Mesos</li>
            <li>Tachyon</li>
            <li>Apache Kafka</li>
            <li>Apache Hadoop</li>
        </ul>
        to enable users to no only stream data into the platform but
        also perform workflows and tasks off the back of this streaming data. Allowing you to enrich your data further with more metadata, post processing analysis and more and then once
        again reingesting that data to ensure you get the full picture and not just part of it.
    </p>
    <p>Leverage the power of OODT along side well known projects like Apache Spark to process your data, be it web data, logs, or IOT data coming from sensors and appliances around the globe.</p>
</div>