<div class="row col-md-6 col-md-offset-2">

  <h1>What is it?</h1>
  <p>Awarded 2003 NASA Software of the Year, Apache Object Oriented Data Technology (OODT) began at the Jet Propulsion Laboratory, in operations cataloging pictures of Mars and helping to detect cancer. Apache OODT is smart, open source software for science, research, or otherwise.</p>

  <p>Apache OODT is the superior way to integrate and archive your processes, your data, and its metadata. It spans scientific and other disciplines and enable interoperability among data agnostic systems in the varying fields. Using OODT's framework of distributed objects and databases, the data collected by scientists and engineers in disparate disciplines can be jointly searched, stored, retrieved, and analyzed. It facilitates the creation, acquisition, and growth of data management and archiving systems.</p>

  <h1>Why use it?</h1>
  <strong>OODT is deployed operationally in:</strong>
  <ul>
    <li>DARPA's XDATA Presidential Big Data Initiative</li>
    <li>NASA's Airborne Snow Observatory demonstration mission.</li>
    <li>NASA's Carbon in Arctic Reservoirs Vulnerability Experiment</li>
    <li>National Cancer Institute's Early Detection Research Network</li>
    <li>NASA's Orbiting Carbon Observatory</li>
    <li>The Sinai-Helmsley Alliance for Research Excellence data coordinating center project</li>
    <li>MIT Haystack Observatory</li>
    <li>NASA's Megacities Carbon Project</li>
    <li>Children's Hospital of Los Angeles's Virtual Pediatric Intensive Care Unit</li>
    <li>The Planetary Data System</li>
    <li>NASA's Orbiting Carbon Observatory-2</li>
    <li>NASA's Soil Moisture Active/Passive mission</li>
    <li>The Square Kilometre Array South Africa project</li>
    <li>NASA's Seawinds/QuickSCAT mission</li>
    <li>and many more...</li>
    <p>Processing pipelines are too often one-off custom solutions that fail to scale and evolve as systems evolve. Moreover, archived data undergoes a kind of atrophy as the tools used to analyze and process it are themselves one-off solutions with no maintenance. These haphazard approaches achieve only short term success, but are not effective in data search, discovery, analysis, cataloging, processing, or archiving. OODT replaces these manual, forgettable steps with reliable workflows through distributed data grids. OODT ensures the usability and value of data even after original developers move on.</p>

    <h1>How?</h1>
    <p>Haphazard processing pipelines are commonly made up of custom UNIX shell scripts and/or fragile custom written glue code of Java, Python, and Perl. OODT uses structured XML-based capturing of the processing pipeline that can be understood and modified by non-programmers to create, edit, manage and provision workflow and task execution.</p>


    <h1>Prerequisites</h1>

    <h2>Operating Systems</h2>

    <ul>
      <li>UNIX (Linux, OS/X, Solaris, BSD, etc.)</li>
      <li>Windows with Cygwin</li>
    </ul>
    <h2>Software</h2>

    <ul>
      <li>Java and/or Python</li>
      <li>Maven</li>
    </ul>
    <h2>Knowledge</h2>
    <ul>
      <li>XML</li>
      <li>Java and/or Python (in order to customize and extend)</li>
    </ul>
</div>
<div class="col-md-2">
  <h2>Project Management Committee</h2>
  <p>The PMC provides management and governance of the project. The canonical list is always available <a href="http://people.apache.org/phonebook.html">here</a>.</p>
  {% pcm_list OODT %}
  <h2>(Former) Apache Incubator Mentors</h2>
  <p>Mentors are long-term Apache members that provided guidance to our project during its Incubation.</p>

  Justin Erenkrantz<br/>
  Ross Gardler<br/>
  Ian Holsman<br/>
  Jean-Frederic Clere<br/>
  Chris Mattmann<br/>
  
</div>
