
#header {
    width:100%;
    height:80px;
    border-bottom: solid 1px #2e3e4e;
}

#project_logo {
    float:left;
}

#user_status {
    float:right;
    padding:10px;
}

#nav {
    margin-top:10px;
}

#nav a {
    color:#c0c0c0;
    text-decoration:none;
    border-right:solid 1px #456;
    padding: 3px 20px;
}
#nav a.first {
}
#nav a.last {
    border-right:none;
}

#footer{
  position:fixed;
  bottom:0px;
  width:100%;
  height:80px;
  padding:5px 0px;
  border-spacing:0px;
  border-top:solid 1px #2e3e4e;
  font-size:90%;
  z-index:10000;
}
#footer p {
  width:100%;
  padding:5px 15px;
  text-align:center;
}

#feedback {
    margin:0px;
    margin-top:-20px;
    font-size:90%;
}

#powered,#feedback {
  margin-left:-30px;
}



