@CHARSET "UTF-8";

div.editor table tr td {
	
	position:relative;
	padding-left:5px;
	cursor:pointer;
	_cursor:hand;
	
}

div.editor table tr td img.pencil {
	
	position:relative;
	left:0px;
	cursor:pointer;
	_cursor:hand;
	
}


.ptwbMetadataList table {
	border-top:solid 1px #ccc;
}
