#workflow_task_table{
  font-family: Arial,Sans-Serif,sans-serif;
  border-spacing:2px;
}

.header{
	
}

.value{
	
}

#workflow_task_config_tbl{
  border-spacing:2px;
  font-family: Arial,Sans-Serif,sans-serif;
}

#workflow_config{

}

#workflow_condition_tbl{

}