/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@CHARSET "UTF-8";

a {
	color:#236;
}

br.fiftyPx{
	margin-bottom:50px;
}

table#productTypeSearch {
		
}
table#productTypeSearch th.hidden,
	table#productTypeSearch td.hidden {
	display:none;	
}

div#productTypeSearch_length {
	float:right;
	text-align:right;
	margin-bottom:20px;	
	margin-top:25px;	
}
div#productTypeSearch_filter {
	float:none;
	margin-top:-20px;	
	right:0px;	
	text-align:left;
	width:450px;
}

table.dataTable tr {
	
}
table.dataTable tr td {
	padding:6px;
	vertical-align:top
}

table.dataTable  {
	margin-top:15px;	
}
.dataTables_filter input[type=text] {
	padding:5px;
	margin-left:0px;	
	width:97%;
}
table.dataTable thead tr th {
	border-bottom:solid 1px #888;
}

table.dataTable tbody tr.odd {
	background-color:#eee;	
}
table.dataTable tbody tr.even {
	background-color:#fff;
}
table.dataTable tbody tr.odd td {
	background-color:transparent;	
}
table.dataTable tbody tr.even td {
	background-color:transparent;	
}
table.dataTable tbody tr td.sorting_1,
	table.dataTable thead tr th.sorting_asc,
	table.dataTable thead tr th.sorting_desc {
	background-color:#f3fff3;	
}
table.dataTable tbody tr.odd td.sorting_1 {
	background-color:#e3f3e3;
}
table.dataTable tbody tr td a {
	color:#222;
}

/**
 * DATASET
 */
ul.tabs {
	border-bottom:solid 1px #ccc;
	margin:0px;
	padding:0px;
	padding-bottom:6px;
}
ul.tabs li {
	display:inline;
	margin:0px;
	padding:0px;
}
ul.tabs li a {
	border:solid 1px #ccc;
	padding:8px 12px;
	margin-right:5px;
	margin-bottom:0px;
	background-color:#ccc;
}
ul.tabs li a.selected {
	background-color:#fff;
	border-bottom:solid 1px #fff;
}

/**
 * MET VIEWER
 */
h4.toggler {
	padding:5px 0px;
	text-decoration:underline;
	cursor:pointer;
	_cursor:hand;
	margin-bottom:0px;
}
table.metwidget {
	
}


table.metwidget tr {
	
}

table.metwidget th {
	background-color:#e3f3e3;
	border-bottom:solid 1px #b3c3b3;	
	vertical-align:top;
	padding-top:15px;
	width:110px;
}
table.metwidget td {
	vertical-align:top;
	border-bottom:solid 1px #b3c3b3;
}
table.metwidget table td {
	border-bottom:none;
}

table.metwidget td.value div {
	background-color:transparent;
	border:solid 4px #fff;
	padding:5px;
}
table.metwidget.multivalue td {
	border:none;	
}
table.metwidget table {
	margin:0px;
	padding:0px;
}

div#section_products {
	position:relative;
}
div#cas_browser_dataset_download {

}

ul.pp_productList {
	margin-top:10px;
	list-style:none;
	padding-left:0px;
}
ul.pp_productList li {
	line-height:28px;
	padding-left:0px;
	margin-left:0px;
}
ul.pp_productList li a {
	text-decoration:none;
	display:block;
	background-color:#fff;
	padding:0px 8px;
	width:100%;
}
ul.pp_productList li a:hover {
	text-decoration:underline;
	background-color:#e3f3e3;
}

input[type=text] {
	padding:5px;	
}
select {
 	padding:3px;
}

div.breadcrumbs {
	border-bottom:dotted 1px #ccc;
	padding-bottom:4px;
	margin-top:-5px;
}



table.metwidget {
	border-top:dotted 1px #bbb;	
}
table.metwidget table {
	border-top:none;	
}

table.metwidget tr th {
	vertical-align:top;
	padding-top:8px;	
	background-color:#eee;
	border-bottom:solid 2px #fff;
}
table.metwidget tr td {
	background-color:#f8f8f8;	
}

ul.tabmenu {
	margin:0px;
	padding:0px;
	margin-bottom:15px;
	padding-bottom:7px;
	border-bottom:solid 1px #ccc;	
}
ul.tabmenu li {
	display:inline;
	border:solid 1px #ccc;
	background-color:#eee;
	padding:10px 15px;
	font-size:1.6em;
	margin-right:5px;
	cursor:pointer;
	_cursor:hand;
}
ul.tabmenu li.selected {
	border-bottom:solid 1px #fff;
	background-color:#fff;
}

div#filter_widget {
	display:none;
	border:solid 1px #ccc;
	background-color:#f8f8f8;
	padding:5px;	
}

div#section_filter_tools_container {
	position:relative;	
}
div#section_filter_tools_buttons {
	text-align:right;
	position:absolute;
	top:0px;
	right:0px;
}
div#section_filter_tools {
	margin-bottom:15px;	
}
div#filter_widget_exclusive_container {
	position:absolute;
	top:25px;
	right:0px;
}



span#product_download_span {
	color:#555;
	font-size:0.9em;
}

div#loading_icon_container {
	margin-bottom:50px;
}

img#zip_icon{
	float:left;
	margin-right:15px;
}
