<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>


  {% include navigation.html %}
  <div class="container" >

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">The Team</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      {% include community.html %}
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      {% include team.html %}
    </div>
  </div>

  
</div>
  {% include footer.html %}
  {% include scripts.html %}
  {% include contactform.html %}
</body>

</html>
